body
{
font-family: Helvetica, Arial;
background-color: black;
color: white;
border-color: grey;

padding-left: 30.87%;
padding-right: 38.17%;
margin: 0;
}

@media (max-width: 1327px)
{

  body
  {
    padding-left: 100px;
    
  }
}
@media (max-width: 850px)
{
  body
  {
    padding-right: 15%;
  }

}

